<h1>About Dogemon</h1>
<p class="lead">Dogemon was started by James Steininger, Nathan Ng, and Chen Derek, students at Chapman University in an Open Source Development course taught by Lance Fluger. 
<br><br>
  The code powering Dogemon is open source, and can be found <%= link_to "here", 'https://github.com/jamessteininger/ProjectDoge' %>. If you want to be a part of the development team, email James Steininger for more information: jesteininger@gmail.com
</p>
<hr>
<h2>Beginnings</h2>
<p class="lead">Dogemon began titled "ProjectDoge", and began with the simple idea of wanting to support the Dogecoin community through a game. The gameplay would be similar to Pokemon or Neopets, fused with the concept of community generated content from sites like Newgrounds or Deviantart, and all backed on Dogecoin currency. The spirit of the game always being to encourage and provide a platform for creativity. 
</p>
<h2>Technology</h2>
<p class="lead">The technology used to make Dogemon includes Ruby on Rails, Font-Awesome, GitHub, Heroku, Devise, and other open source software. 
</p>