<h1>About Dogemon</h1>
<p class="lead">Dogemon was started by James Steininger during an Open Source Development course at Chapman University. He had help from fellow students Nathan Ng and Chen Derek, and professor Lance Fluger. 
<center><img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/1514544_10153082215829399_749001463770053876_n.jpg?oh=dfb8a3974346c34ae5622c1b7dc3974a&oe=559A2035&__gda__=1436244457_e98d2b18a7aec850d78214fc5c09ee3e" width="200px" class="img-responsive">Founder, James Steininger</center>
<br><br>Dogemon is built on top of open source. Primarily, Ruby on Rails. If you want to be a part of the development team, email James Steininger for more information: jesteininger@gmail.com
</p>
<hr>
<h2>Beginnings</h2>
<p class="lead">Dogemon began titled "ProjectDoge", and began with the simple idea of wanting to support the Dogecoin community through a game. The gameplay would be similar to Pokemon or Neopets, fused with the concept of community generated content from sites like Newgrounds or Deviantart, and all backed on Dogecoin currency. The spirit of the game always being to encourage and provide a platform for creativity. 
</p>
<h2>Technology</h2>
<p class="lead">The technology used to make Dogemon includes Ruby on Rails, Font-Awesome, GitHub, Heroku, Devise, and other open source software. 
</p>