<h1>About ProjectDoge</h1>
<p class="lead">ProjectDoge was started by students at Chapman University in an Open Source Development course taught by Lance Fluger. 
<br><br>
  The code used to make ProjectDoge is open source, and can be found here.
</p>