<h2>
	What is Dogecoin?
</h2>
<br>
<p>
  <b>Dogecoin</b> is a <a href="http://en.wikipedia.org/wiki/Cryptocurrency" title="Cryptocurrency">cryptocurrency</a> featuring a <a href="http://en.wikipedia.org/wiki/Shiba_Inu" title="Shiba Inu">Shiba Inu</a> dog from the "<a href="http://en.wikipedia.org/wiki/Doge_(meme)" title="Doge (meme)">Doge</a>" <a href="http://en.wikipedia.org/wiki/Internet_meme" title="Internet meme">Internet meme</a> on its logo. It was introduced on December 8, 2013. Compared to other cryptocurrencies, Dogecoin has a fast initial coin production schedule: there will be approximately 100 billion coins in circulation by the end of 2014 with an additional 5.2 billion coins every year thereafter. As of 10 October 2014, over 94 billion Dogecoins have been mined. While there are few mainstream commercial applications, the currency has gained traction as an Internet tipping system, in which social media users grant Dogecoin tips to other users for providing interesting or noteworthy content. Many members of the Dogecoin community, as well as members of other cryptocurrency communities, use the phrase "To the moon!" to describe the overall sentiment of the coin's rising value.
</p>
<br>
<h2>
	How to use Dogecoin?
</h2>
<br>
<h3>
	1. Download The Wallet.
</h3>
<br>
<p>
Click the link below to download MultiDoge, a local Dogecoin wallet. <br>
If you are asked to accept the download, accept the download. <br>
Once the file finishes downloading, install the wallet. <br>
  <a href="http://multidoge.org/?dl=win" data-i18n="dgc-getting-started-windows-1-3">Download MultiDoge for Windows</a><br>
  <a href="http://multidoge.org/?dl=osx" data-i18n="dgc-getting-started-osx-1-3">Download MultiDoge for OS X</a><br>
  <a href="http://multidoge.org/?dl=lin" data-i18n="dgc-getting-started-linux-1-3">Download MultiDoge for Linux</a><br>
</p>

<h3>
	2. Install The Wallet.
</h3>
<br>
<h4>For Windows</h4>
<p>
Go through the installation process. Once you get to the license agreement, accept it to continue with the installation.<br>
Once you are finished with the installation, find the MultiDoge shortcut and open it.<br>
</p>
<h4>For OS X</h4>
<p>
A new window should open when you click on the file. Click and drag the "MultiDoge" icon into the "Applications" folder.<br>
This will move the wallet into your Applications menu.<br>
</p>
<h4>For Linux</h4>
<p>
Right click on the (.jar) file, click "Properties".<br>
Go to the "Permissions" tab, check the box next to "Execute" to allow executing of the file as a program. Close properties window.<br>
Right click the (.jar) file again, hover over "Open With", and then select OpenJDK Java 6 or 7 Runtime.<br>
Go through the installation process. Once you get to the license agreement, accept it to continue with the installation.<br>
Once you are finished with the installation, find the MultiDoge shortcut and open it.<br>
</p>
<br>
<h3>
3. Use Your Wallet!
</h3>
<br>
<p>
On launch, your wallet will have a loading bar on the bottom-left. You will have to wait 1 - 5 minutes for the wallet to synchronize.<br>
After it is synchronized with the network, you are now able to use your Dogecoin wallet!<br>
You have just finished setting up your Dogecoin wallet!<br>
</p>