


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css">

<h1>Dogemon</h1><center>
<%= image_tag("Dogecoin.png", :class => "img-responsive main-image wow rubberBand") %>
</center>
<div class="well wow bounceIn"><h1>Such Exciting. Much Wow. How Spend. Much Battle.</h1></div>
<h3 class="wow shake">Dogemon is an online marketplace for user created content which is bought or sold with Dogecoin.

These items can then be used in the battle area, where pets/avatars can fight against other players or raid-like bosses.</h3>

<div class="row">
  <div class="col-md-6 columns wow wobble"><h3>Create exciting weapons and armor to use in the area, with fully customizable stats and appearances.</h3></div>
  <div class="col-md-6 columns wow rotateIn"><img height="400" width="400" src="http://img4.wikia.nocookie.net/__cb20130927015151/finalfantasy/images/thumb/8/83/FFX_Weapon_-_Spear_3.png/500px-FFX_Weapon_-_Spear_3.png"></div>
</div>
<div class="row">
    <div class="col-md-6 columns wow zoomInDown"><img height="400" width="400" src="http://i.imgur.com/W4fvhny.png"></div>
  <div class="col-md-6 columns wow rollIn"><h3>Sell your creations in the online marketplace, where the community can buy and rate your items.</h3></div>
</div>
<div class="row">
    <div class="col-md-6 columns wow bounceInLeft"><h3>All transactions are done in Dogecoin. You can easily add or remove funds from your wallet.</h3></div>
    <div class="col-md-6 columns wow rotateInUpRight"><img height="400" width="400" src="http://cdn0.dailydot.com/cache/00/a0/00a0181b74f9f6ef4faecea86801f63d.jpg"></div>
</div>
<h1 class="wow tada">Join the glorious Revolution!</h1>
<%= link_to "Sign Up", "/users/sign_up", :class => "btn btn-primary" %>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.0.2/wow.min.js"></script>
<script>
 new WOW().init();
</script>
