<h1>How to Play Dogemon</h1>
<h3>Make Your First Dogemon! <i class="fa fa-"></i></h3>
<p class="lead">
  First, go to the <%= link_to 'create a Dogemon page', new_pet_path %> to discover your first new Dogemon. Currently, you can have up to 4 Dogemon!
  <br><br>
  When you go to your <%= link_to 'profile page', current_user %>, you can get a free booster pack, which comes with 5 random items from the marketplace. 
  <br><br>
  After you have discovered a new Dogemon and have some items in your inventory, you can begin equipping your Dogemon. 
</p>
<h3>Battles <i class="fa fa-bomb"></i></h3>
<p class="lead">
  Each Dogemon has Health and Magic. Each is out of 100. A Dogemon has its Health and Magic restored to 100 at the end of every battle. <br><br>
  A player puts one Dogemon into play at a time. Then, players alternate turns using items bought in the marketplace to attack one another. Each item has a cost of Magic which is needed to use it. <br><br>
</p>
<h3>Battle Requests <i class="fa fa-bomb"></i></h3>
<p class="lead">
  Right now, you can send a battle request to any other player. When you do this, you specify which of your Dogemon you want to put into battle. Once the requested player chooses which of their Dogemon they want to use, the battle begins. Because we do not currently have a live-update system, you will need to refresh the page in order to see if the other player has made their move. We suggest using real time messaging, a phone call, a video chat, or hanging out in real life with the people you're battling against to expidite the battle, like a traditional card game! Our developers are feverishly working on a notification, or live battle system. 
</p>

<h3>Regen <i class="fa fa-magic"></i></h3>
<p class="lead">
  Each turn during battle, your Dogemon will recover 10 Magic points. However, you can use Drain cards which will take away Magic points from your enemy.  
</p>
<h3>Elements</h3>
<div class="row">
  <div class="col-md-4">
    <center><h3><i class="fa fa-sun-o text-danger fa-x"></i><br>Sol</h3></center>
  </div>
  <div class="col-md-4">
    <center><h3><i class="fa fa-moon-o text-primary fa-x"></i><br>Luna</h3></center>
  </div>
  <div class="col-md-4">
    <center><h3><i class="fa fa-globe text-success fa-x"></i><br>Terra</h3></center>
  </div>
</div>
<p class="lead">Eventually, these will perform similarly to Pokemon attributes. As of right now, they have no effect in battle. Stay tuned. 
  
<hr>
<p class="lead">Here are the house rules: <br>
  <ol>
    <li><p class="lead">Never defame, offend, or attack another user</li>
    <li><p class="lead">Do not use Dogemon to attack anyone outside the community</li>
    <li><p class="lead">Do not engage in illegal activity </li>
    <li><p class="lead">Remember to uphold the creative nature of the community</li>
  </ol>
</p>