<h1>How to Play Dogemon</h1>
<hr>
<h3>Elements</h3>
<div class="row">
  <div class="col-md-4">
    <center><h3><i class="fa fa-sun-o text-danger fa-x"></i><br>Sol</h3></center>
  </div>
  <div class="col-md-4">
    <center><h3><i class="fa fa-moon-o text-primary fa-x"></i><br>Luna</h3></center>
  </div>
  <div class="col-md-4">
    <center><h3><i class="fa fa-globe text-success fa-x"></i><br>Terra</h3></center>
  </div>
</div>
<p class="lead">
  Strengths (1.5 multiplier)<br>
  <i class="fa fa-globe text-success fa-x"></i> > <i class="fa fa-moon-o text-primary fa-x"></i><br>
  <i class="fa fa-sun-o text-danger fa-x"></i> > <i class="fa fa-globe text-success fa-x"></i><br>
  <i class="fa fa-moon-o text-primary fa-x"></i> > <i class="fa fa-sun-o text-danger fa-x"></i>
  
<hr>
<p class="lead">
  Each spirit has Health and Magic. Each is out of 100. A spirit has its Health and Magic restored to 100 at the end of every battle. <br><br>
  A player puts one spirit into play at a time. <br><br>
</p>
<h3>Regen <i class="fa fa-magic"></i></h3>
<p class="lead">
  Regen cards will put modifiers on the Regen value for both players, or for players individually. For example, Card X will give both players an extra 5 Regen per turn. Card Y will give Player 1 an extra 5 Regen per turn. 
</p>
<p class="lead">Here are the rules: <br>
  <ol>
    <li>Never defame, offend, or attack another use</li>
  </ol>
</p>