<h1>How to Play Dogemon</h1>
<hr>
<h3>Battles <i class="fa fa-bomb"></i></h3>
<p class="lead">
  Each Dogemon has Health and Magic. Each is out of 100. A Dogemon has its Health and Magic restored to 100 at the end of every battle. <br><br>
  A player puts one Dogemon into play at a time. <br><br>
</p>

<h3>Regen <i class="fa fa-magic"></i></h3>
<p class="lead">
  Regen cards will put modifiers on the Regen value for both players, or for players individually. For example, Card X will give both players an extra 5 Regen per turn. Card Y will give Player 1 an extra 5 Regen per turn. 
</p>
<h3>Elements</h3>
<div class="row">
  <div class="col-md-4">
    <center><h3><i class="fa fa-sun-o text-danger fa-x"></i><br>Sol</h3></center>
  </div>
  <div class="col-md-4">
    <center><h3><i class="fa fa-moon-o text-primary fa-x"></i><br>Luna</h3></center>
  </div>
  <div class="col-md-4">
    <center><h3><i class="fa fa-globe text-success fa-x"></i><br>Terra</h3></center>
  </div>
</div>
<p class="lead">Eventually, these will perform similarly to Pokemon attributes. As of right now, they have no effect in battle. Stay tuned. 
  
<hr>
<p class="lead">Here are the house rules: <br>
  <ol>
    <li><p class="lead">Never defame, offend, or attack another user</li>
    <li><p class="lead">Do not use Dogemon to attack anyone outside the community</li>
    <li><p class="lead">Do not engage in illegal activity </li>
    <li><p class="lead">Remember to uphold the creative nature of the community</li>
  </ol>
</p>