<h2>
	Terms and Conditions of Use
</h2>

<h3>
	1. Terms
</h3>

<p>
	By accessing this web site, you are agreeing to be bound by these 
	web site Terms and Conditions of Use, all applicable laws and regulations, 
	and agree that you are responsible for compliance with any applicable local 
	laws. If you do not agree with any of these terms, you are prohibited from 
	using or accessing this site. The materials contained in this web site are 
	protected by applicable copyright and trade mark law.
</p>

<h3>
	2. Use License
</h3>

<ol type="a">
	<li>
		Your content
		<ol type="i">
			<li>You retain the rights to your copyrighted content or information that you submit to Dogemon ("user content") except as described below.</li>
			<li>By submitting user content to Dogemon, you grant us a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to reproduce, prepare derivative works, distribute copies, perform, or publicly display your user content in any medium and for any purpose, including commercial purposes, and to authorize others to do so.</li>
			<li>You agree that you have the right to submit anything you post, and that your user content does not violate the copyright, trademark, trade secret or any other personal or proprietary right of any other party.</li>
		</ol>
	</li>
	<li>
		We don’t endorse user content
			<li>We take no responsibility for, we do not expressly or implicitly endorse, and we do not assume any liability for any user content submitted by you to Dogemon.</li>
	</li>
  <li>
		Links and Dogemon
			<li>Dogemon is a place with many third-party hyperlinks posted by users like you. We are not responsible for the content or actions of any third party websites or services associated with posted links. You agree to take sole legal responsibility for any links you post, and neither this agreement nor our privacy policy applies to any content on other websites related to those links. You should consult the terms and privacy policies of those other websites to understand your rights.</li>
	</li>
</ol>

<h3>
	3. Disclaimer
</h3>

<ol type="a">
	<li>
		The materials on Dogemon's web site are provided "as is". Dogemon makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Dogemon does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
	</li>
</ol>

<h3>
	4. Revisions and Errata
</h3>

<p>
	The materials appearing on Dogemon's web site could include technical, typographical, or photographic errors. Dogemon does not warrant that any of the materials on its web site are accurate, complete, or current. Dogemon may make changes to the materials contained on its web site at any time without notice. Dogemon does not, however, make any commitment to update the materials.
</p>

<h3>

<h3>
	5. Site Terms of Use Modifications
</h3>

<p>
	Dogemon may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
</p>

<h3>
	6. Governing Law
</h3>

<p>
	Any claim relating to Dogemon's web site shall be governed by the laws of the State of California without regard to its conflict of law provisions.
</p>

<p>
	General Terms and Conditions applicable to Use of a Web Site.
</p>



<h2>
	Privacy Policy
</h2>

<p>
	Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
</p>

<ul>
	<li>
		Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
	</li>
	<li>
		We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.		
	</li>
	<li>
		We will only retain personal information as long as necessary for the fulfillment of those purposes. 
	</li>
	<li>
		We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
	</li>
	<li>
		Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
	</li>
</ul>

<p>
	We strive to keep your personal information safe. As an open source project, our site is freely open to anyone to review and improve our security systems.
</p>
<h2>
  Cost
</h2>
<p>
  Currently, Dogemon is open source project which means that it is 100% free! One of our main goals is to keep it that way, so that as many people can play as possible, regardless of place in life. If you can are intrested in open source development and want to be part of the development team, You can do so by visiting our <a href="https://github.com/jamessteininger/ProjectDoge">github site</a> or emailing us at jesteininger@gmail.com.
</p>