<h1>Roadmap</h1>
<p class="lead">In no particular order of priority or release date, these are things we want to add to the game. Also, feel free to <%= link_to "message us your suggestions!", new_feedback_path %></p>

<ul>
  <li>
    <p class="lead">Towns</p>
  </li>
  <li>
    <p class="lead">Status effects in battles</p>
  </li>
  <li>
    <p class="lead">Themes (as in CSS styling)</p>
  </li>
  <li>
    <p class="lead">Music</p>
  </li>
  <li>
    <p class="lead">Battle animations</p>
  </li>
  <li>
    <p class="lead">Guilds</p>
  </li>
  <li>
    <p class="lead">Realtime Notifications</p>
  </li>
  <li>
    <p class="lead">A voting marketplace for items before they become publically available</p>
  </li>
  <li>
    <p class="lead">Local marketplaces per user profile</p>
  </li>
</ul>