<center><h1>Choose a Dogemon for battle</h1>
  
  <h3>Make sure to equip some items to your Dogemon before engaging in a battle! Also, see our updated <%= link_to "how to play", how_to_play_path %> to find out more about battle requesting. </h3>
<%= render 'form' %>

  <%= link_to 'Cancel', pvp_battles_path %>
