<h2>What is a Bounty Battle?</h2>
<p class="lead">
  Bounty Battles are a way to earn coin by allowing opponents to bet an amount of coin against your Dogemon in AI driven battles. The way this works is your first decide on an amount for the bet, for example 100 Dogecoin. Then you decide how many challenges you'll allow at your winnings amount. So if you set a bounty for 100 Dogecoin at 5 challenges, you are setting aside 500 Dogecoin upfront to be used in the Battle Bounty. Once you launch a Bounty, you can still cancel the Bounty or any number of remaining challenges and get all of your coin back. However, when your coin is being used for a bounty, it is unusable and taken out of your wallet. Each challenger must place an equal bet in order to initiate a Bounty Battle. The winner receives the value of both bets combined, or double the Bounty amount. 
</p>

<h1>New bounty</h1>

<%= render 'form' %>

<%= link_to 'Back', bounties_path %>
