<p id="notice"><%= notice %></p>
<h2>Thanks for your feedback!</h2><h4>We will notify you when your feedback has been processed. We will get to it as soon as possible!</h4>
<%= link_to 'Write new feedback?', new_feedback_path %>
