<h1>Make a new item</h1>
<p class="lead">Items are bought in the marketplace and equipped to Dogemon for use in battle. An item belongs to an element of the Dogemon universe, which dictates its effectiveness in certain situations and against certain enemy types. <br><br>The magic cost of an item will automatically be determined based on its specified power. The price for the item will also automatically be calculated based on its power. </p>
<%= render 'form' %>

<%= link_to 'Back', items_path %>
