// Place all the styles related to the noauth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-image{
 width:400px;
margin:0 auto;
}