<div class="row">
  <h1>Listing towns</h1>
  <% @towns.each do |town| %>
  <div class="col-md-3">
    <%= link_to town, class: 'btn btn-default' do %>
    <%= image_tag(town.image_url, class: 'img-square media', height: 60, style: 'max-width: 300px;')  %>
    <h3><%= town.name %></h3>
    <p><%= town.description %></p>
    <% end %>
  </div>
  <% end %>
</div>