<% if Town.where(user_id: current_user.id, created_at: (DateTime.now.at_beginning_of_day.utc..Time.now.utc)).count < 4 %>
<h1>Discover a new location!</h1>

<%= render 'form' %>
<% elsif !current_user.b_mod %>
<h1>Discover a new location! (But only because you're a mod!)</h1>

<%= render 'form' %>
<% else %>
<h1>You may only discover a new location thrice per day. For now...</h1>
<br>
<%= link_to "Back to " + current_user.town.name, current_user.town, class: 'btn btn-primary' %>
<% end %>
